* {
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  padding: 16px 100px 16px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline;
    padding: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.get-schooled-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 100px 0 100px 0;
    line-height: 1.5;
}
.get-schooled{
    font-size: 50px;
}
.span-container{
    margin-bottom: 50px;
}
span{
    padding: 20px;
}
.learn{
    text-align: center;
    margin-bottom: 30px;
}
.pros-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.sec1-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}