* {
  margin: 0;
  padding: 0;
}
main {
  background-image: url("images/hero-image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 900px;
  width: 100%;
}
header {
  padding: 16px 100px 16px 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style: none;
  display: inline;
  padding: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.get-schooled-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 100px 0;
  line-height: 1.5;
  color: white;
}
.get-schooled {
  font-size: 80px;
}
.span-container {
  margin-bottom: 50px;
}
.joy {
  padding: 20px;
}
.learn {
  text-align: center;
  margin-bottom: 80px;
  color: antiquewhite;
}
.pros-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
}
.sec1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 280px;
  margin-bottom: 5%;
  background-color: rgb(191, 139, 208);
  color: white;
}
.sec2-heading {
  text-align: center;
  font-size: 28px;
  color: brown;
  margin-bottom: 50px;
}
#popular {
  color: purple;
}
.sec2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}
.tutorials-container {
  width: 200px;
}
.expe {
  display: flex;
  align-items: center;
}
.sec3 {
  height: 350px;
  text-align: center;
  background-color: rgb(2, 2, 60);
  color: white;
  padding-top: 60px;
  margin-bottom: 5%;
}
.sec3-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sec3-heading {
  margin-bottom: 50px;
}
.sec3-btn {
  margin-top: 100px;
}
.sec4 {
  margin-bottom: 5%;
}
.sec4-heading {
  text-align: center;
  margin-bottom: 30px;
}
.sec4-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 200px;
  width: 80%;
}
.sec4-content-container {
  width: 60%;
}
.shege{
}
.sec4-content-title {
  margin-bottom: 20px;
}
.sec4-content-subtitle{
    margin-bottom: 40px;
}
footer {
  position: relative;
  height: 150px;
  background-color: rgb(5, 5, 43);
  color: white;
}
.footer-container {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#copyright {
  position: absolute;
  bottom: 10px;
  left: 550px;
}
